<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    빌트인 디렉티브 : html 태그 안에 들어가는 속성역할을 하며, v-라는 접두어가
    붙음.
    <br />
    디렉티브는 DOM 엘리먼트가 뭔가를 수행하도록 지시하는 특수한 토큰
    <div id="app">
        🥵<a href="{{link}}">다음 (에러)</a><br>
        <!-- directive 사용 : 동적으로 href 속성을 vue 인스턴스의 link 데이터 속성과 연결 -->
        🥵<a v-bind:href="link">다음</a><br>
        🥵<a :href="link">다음</a><br>
        <img v-bind:src="imageSrc" alt="동적 이미지" /> 
        <br>
        <h2 v-text='say'></h2>
        <h2>data 속성값 1 : {{ say }}</h2>
        <h2 v-once='say'>data 속성값 2 : {{ say }}</h2>
        <h3>함수 호출 결과 : {{sayFunc()}}</h3>

        <span v-text="aLinkNaver">문자열 그대로 출력(innerText)</span><br>
        <span v-html="aLinkNaver">문자열 그대로 출력(innerHTML)</span><br>
        
        <!-- 양방향 데이터 바인딩 : v-model은 v-bind + v-on -->
        이름은 <input type="text" v-model="name" /> {{name}}<br>
        이름은 <input type="text" v-bind:value="name" v-on:input="changeName" /> {{name}}<br>
        이름은 <input type="text" :value="name" @input="changeName" /> {{name}}<br>
        <hr>
        <!-- 계산된 property -->
         a = {{a}}, b = {{b}}<br>
         a값 입력 : <input type="text" v-model="a" />
         <br>입력된 a : {{a}} (타입 : {{typeof a}})</br>
         a값 입력 : <input type="text" v-model.number="a" />

         <hr>
         제어문 : 조건판단문 if<br>
         <h2 v-if="nai > 20">20살 초과</h2>
         <h2 v-else-if="nai === 20">20살</h2>
         <h2 v-else>20살 미만</h2>

         <br>
         제어문 : 반복문 for<br>
         <h3>맨유</h3>
         <ol>
            <li v-for="(todo, index) in todos" :key="index">{{todo.msg}}</li>
        </ol>

        <ul>
            <li v-for="(todo, index) in todos" :key="index">{{index + 1}} {{todo.msg}}</li>
        </ul>
    </div>
    <script>
        const {createApp} = Vue;
    
        createApp({
            data() {
                return {
                    link:'https://cafe.daum.net/flowlife',
                    imageSrc:'pic.png', 
                    say:'래시포드는 해낼거야',
                    aLinkNaver: "<a href='https://naver.com'>네이버</a>",
                    name:'브페 주장',
                    a:'1',
                    nai:21,
                    todos : [
                        {msg:'맨체스터'},
                        {msg:'유나이티드'},
                        {msg:'화이팅'},
                    ],
                }
            },
            methods: {
                sayFunc() {
                    this.say = '더워유';
                    return this.say;
                },
                changeName(e) {
                    this.name = e.target.value;
                }
                
            },
            computed:{ // computed properties : 함수처럼 작동. 차이는 계산된 프로퍼티가 의존하는 요소가 변경되면 반응
                b() {
                    return this.a + 1;

                }
            }
        }).mount('#app');
    </script>
  </body>
</html>
